/*Global Styles*/

h1, h2, h3, h4, h5, h6, p, a, li, div, span {
    font-family: 'Raleway', sans-serif;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    margin-bottom: 75px;
}

.whimsical_wrapper {
    margin-bottom: 120px;
}



/*Navigation Styles*/

.whim_nav{
    background-color: #FFFFFF;
    border-bottom: #204222 solid 5px;
}

.whim_nav img {
    width: 12%;
    height: auto;
    margin: 0;
    display: inline;
}

.navbar ul {
    margin-top: 25px;
    font-size: 1.2em;
    margin-bottom: 0;

}

.navbar-default .navbar-nav>li>a{
    color: #B26885;
}


/*.navbar-brand {*/
    /*margin-top: 20px;*/
    /*margin-bottom: -16px;*/
/*}*/

.navbar-brand .whim_brand{
    font-family: 'Sacramento', cursive;
    font-size: 3em;
    color: #B26885;
}

.navbar-brand span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.nav .active {
    font-weight: bold;
}

.sidebar-nav .line_divide {
    background-color: #D9D9D9;
    height: 1px;
}


.sidebar-nav ul  {
    margin-top: 0;
}

/*Home Page*/
.home_option {
    height: 300px;
    text-align: center;
    margin-top: 15%;
    -webkit-box-shadow: 0px -1px 1px 9px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px -1px 1px 9px rgba(0,0,0,0.21);
    box-shadow: 0px -1px 1px 9px rgba(0,0,0,0.21);
    border: 0px solid #000000;
    position: relative;

}

.home_option a h2{
    padding-top: 45%;
    color: #000000;
}

.home_option:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6cbcd+0,b26885+99&0.77+34,0.91+89 */
    background: -moz-linear-gradient(top,  rgba(214,203,205,0.77) 0%, rgba(202,169,180,0.77) 34%, rgba(182,114,140,0.91) 89%, rgba(178,104,133,0.91) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(214,203,205,0.77) 0%,rgba(202,169,180,0.77) 34%,rgba(182,114,140,0.91) 89%,rgba(178,104,133,0.91) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(214,203,205,0.77) 0%,rgba(202,169,180,0.77) 34%,rgba(182,114,140,0.91) 89%,rgba(178,104,133,0.91) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d6cbcd', endColorstr='#e8b26885',GradientType=0 ); /* IE6-9 */
}

.home_option a:hover {
    text-decoration: none;
}

.home_option a h2:hover {
    font-size: 2em;
    color: white;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

.our_work:after {
    content: "";
    background-image: url(../img/apron_placeholder.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border: 5px solid whitesmoke;
}

.our_story:after {
    content: "";
    background-image: url(../img/story_placeholder_2.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border: 5px solid whitesmoke;
}

.up_events:after {
    content: "";
    background-image: url(../img/fair_placeholder.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border: 5px solid whitesmoke;
}


/*Products Page*/

.whim_products h1 {
    text-align: center;
    color: #B26885;
}

.whim_products h3 {
    text-align: center;
}

.whim_products h3 a {
    color: #B26885;
    font-weight: bold;
}

.products_grid div {
    text-align: center;

}

.whim_products .products_grid {
    background: rgba(23,13,17,.1) ;
}

.thumbnail {
    margin-top: 20px;
}

.whim_products .caption {
    background: #f8f8f8;
    overflow: hidden;
}

.caption a {
    color: #633044;
}

.thumbnail:hover {
    cursor: pointer;
}

.pagination li a{
    color: #B26885;
}

.pagination_wrapper {
    margin: 0;
}

/*Product Pages*/

.whim_product h1 {
    /*text-align: center;*/
    color: #B26885;
}


.whim_product p a {
    color: #B26885;
    font-weight: bold;
}

.whim_product .dropdown-toggle {
    background-color: #8F707C;
}


.whim_product .whim_submit {
    background-color: #B26885;
    color: #FFFFFF;
}

.pro_img {
    margin-top: 20px;
}

#main_photo {
    max-width: 100%;
    height: auto;
}

 .thumbnail_img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.product_disclaimer {
    margin-top: 20px;
}

.whim_product a:hover {
    cursor: pointer;
}

/*About and Contact*/

.about h2, .contact h2 {
    color: #B26885;
}

.about h3 {
    font-family: 'Sacramento', cursive;
}

.contact button {
    background-color: #B26885;
    color: #FFFFFF;
}


.contact {
    background-color: rgba(104,178,109,.5);
    border-radius: 10px;
    margin: 20px 0;
    padding-bottom: 20px;
}



/*Cart*/

.cart_wrapper {
    margin-bottom: 150px;
}

.cart_wrapper h1 {
    text-align: center;
}

.cart_wrapper h4 {
    color: #B26885;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: rgba(178,104,133,.5);
}

.cart_wrapper .row {
    max-width: 100%;
}

.cart_wrapper .panel-heading .active{
    background-color: rgba(178,104,133,.5);
}



.cart_pro_img, .cart_pro_info, .cart_q, .cart_pro_price {
    display: inline-table;
}



.cart_pro_img img {
    width: 90%;
    height: auto;
    border: #f8f8f8 solid 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px 10px;
}


.cart_pro_info {
    margin-right: 10%;
}

.cart_pro_info h3 {
    margin-top: 15px;
}

.cart_pro_info p {
    width: 20%;
}


.cart_q .form-control {
    width: 55px;

}

.cart_q .del_up {
    margin-top: 10px;
    text-align: center;
}

.cart_q {
    margin-right: 10%;
}

.line_divide {
    height: 2px;
    background-color: rgba(178,104,133,.4);
    width: 100%;
}

.cont_ship {
    margin: 0 10px 10px 0;
}

.cont_ship .btn {
    background-color: #B26885;
    color: #f8f8f8;
    font-size: 1.2em;
}

.cont_ship .btn:hover {
    background-color: #D17A9C ;
}

.cont_ship .modal-content h4 {
    text-align: center;
    font-weight: bold;
}

.cont_ship .modal-content p {
    font-weight: bold;
}

.ship_pro {
    /*background-color: rgba(178,177,176,.4);*/
}

.ship_pro h4 {
    text-align: center;
}

.total {
    font-size: 1.5em;
    font-weight: bold;
}

.ship_pay h5 {
    margin-bottom: 10%;
}



/*Add Product*/

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.add_pro h1 {
    text-align: center;
    color: #B26885;
}

.add_pro .thumbnail_img {
    display: inline-block;
    width: 20%;
    border: #f8f8f8 solid 2px;
}

.add_pro .pro_sub {
    background-color: #B26885;
    color: #f8f8f8;
    font-size: 1.2em;
}


/*Events*/


.events_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.events_wrapper h2 {
    padding: 10px;
    text-align: center;
    color:#B26886;
}


.event_container {
    /*background: #f8f8f8;*/
    margin: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.event_date {
    width: 145px;
    height: 120px;
    padding: 3px;
    background-color: rgba(104,178,109,.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    -webkit-box-shadow: 0px 9px 25px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 9px 25px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 9px 25px -4px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.event_date h3 {
    margin: 0;
    color: whitesmoke;
}

.event_description p {
    margin: 10px 20px;
}


/*Add Event*/

.add_event {
    margin-bottom: 200px;
}

.add_event h2 {
    color: #B26885;
}

.add_event .btn {
    /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b26885+16,d6cbcd+100&0.77+34,0.91+89*/
    background: -moz-linear-gradient(top, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4b26885', endColorstr='#e8d6cbcd', GradientType=0); /* IE6-9 */
    color: whitesmoke;
}

.add_event .btn:hover {
    background: -moz-linear-gradient(top,  rgba(214,203,205,0.77) 0%, rgba(202,169,180,0.77) 34%, rgba(182,114,140,0.91) 89%, rgba(178,104,133,0.91) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(214,203,205,0.77) 0%,rgba(202,169,180,0.77) 34%,rgba(182,114,140,0.91) 89%,rgba(178,104,133,0.91) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(214,203,205,0.77) 0%,rgba(202,169,180,0.77) 34%,rgba(182,114,140,0.91) 89%,rgba(178,104,133,0.91) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d6cbcd', endColorstr='#e8b26885',GradientType=0 ); /* IE6-9 */
}


/*Member Home*/

.member_welcome {
    text-align: center;
}

.member_home .member_choices {
    text-align: center;
    height: 200px;
    border: 3px solid #FFFFFF;
    -webkit-box-shadow: 2px 2px 26px 9px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 26px 9px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 26px 9px rgba(0,0,0,0.3);
    background: -moz-linear-gradient(top, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(178, 104, 133, 0.77) 16%, rgba(186, 125, 148, 0.77) 34%, rgba(209, 190, 196, 0.91) 89%, rgba(214, 203, 205, 0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4b26885', endColorstr='#e8d6cbcd', GradientType=0); /* IE6-9 */
}

.member_choices a {
    color: #f8f8f8;
}

.member_choices a:hover {
    cursor: pointer;
    text-decoration: none;
}

.member_home .member_choices a h2 {
    padding-top: 20%;
}

.member_choices {
    margin-top: 10%;
}


/*Edit Events*/
.edit_event h2 {
    color: #B26885;
    margin-top: 0;
}

.edit_event .sidebar-nav {
    margin-top: 10px;
}

.edit_event th, td {
    text-align: center;
}

.edit_event td a {
    background: #B26885;
    padding: 5px;
    color: white;
    border-radius: 4px;
    -webkit-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.14);
    box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.14);
}

.edit_event td a:hover {
    cursor: pointer;
    background: #965870;
    text-decoration: none;
}

.update_event .btn-default {
    background: #B26885;
    color: white;
}

.update_event .btn-default:hover {
    background: #965870;
}

.update_event h2 {
    color: #B26885;
    margin: 0;
}



/*Footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #f5f5f5;
    text-align: center;
}

footer h4 {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    color: #B26885;
    display: inline;

    }

footer .row {
padding: 10px 10px 0 10px;
}

.admin_login {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.admin_login a {
    color: #B26885;
}

.admin_login:hover {
    cursor: pointer;
}

/*Error*/

.error_page img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}


.error_page a {
    color: #B26885;
}

.error_page h1 {
    margin-top: 10%;
}


/*Media Queries*/

@media (max-width: 783px) {
    .navbar-brand {
        height: 80px;
    }

    .navbar-brand .whim_brand {
        font-size: 1.5em;
    }

    .navbar-brand span {
        font-size: 1em;
    }

    .error_img{
        display: none;
    }

    .home_option a h2 {
        padding-top: 20%;
    }

}


@media (max-width: 777px) {
    .whim_product {
        margin-bottom: 200px;
    }

    footer {
        height: 150px;
    }
}



@media (max-width: 500px) {
    .whim_nav img {
        display: none;
    }

    .navbar-brand {
        margin-top: 10px;
    }

    .navbar-brand .whim_brand {
        font-size: 2em;
    }

    .navbar-brand span {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}